@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #20228b;
    /*background: #aeb6ff;*/
    font-family: 'Roboto', sans-serif;

}
section.chat_section{
    width: 800px;
    max-width: 90%;
    background: #fff;

}

.brand{
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;

}

.brand h1{
    text-transform: uppercase;
    font-size:20px;
    color: rgb(88, 86, 86);
    margin-left: 10px;


}

.message_area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}

textarea{
    width: 100%;
    border-style: solid;
    border-radius: 8em;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #f8f8f8;
}

.message{
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}

.incoming{
    background: #7a74f5;
    color: #fff;
}

.outgoing{
    background: #e9eafd;
    color:#787986;
    margin-left: auto;
}

.message h4 {
    position: absolute;
    top:-20px;
    left: 0;
    color: #333;
    font-size: 14px;

}